.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: rgb(12, 16, 17);
  font-style:italic;
}

h1 {
  margin-bottom: 20px;
  color: #dfc3c3;
  font-size: 2em;
}
